/* ===== SETTINGS & VARIABLES ===== */
:root {
  --light-blue: rgba(26, 19, 56, 0.8);
  --dark-blue: rgba(5, 13, 33, 0.8);
  --violet: rgba(9, 22, 31, 0.8);

  --conic-gradient: conic-gradient(
    var(--dark-blue),
    var(--violet),
    var(--light-blue),
    var(--dark-blue)
  );

  --transition: all 0.2s ease-in-out;
}

/* ===== GLOBAL BODY ===== */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(255, 255, 255);
  position: relative;
}
.special{
  color: orange;
}
/* Dithering noise */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.03;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  z-index: 1;
}

/* ===== CALCULATOR MAIN ===== */
.calculator {
  position: relative;
  z-index: 2;
  width: 360px;
  height: 660px;
  padding: 20px 20px 20px 13px;
  text-align: center;
  border-radius: 10px;
  background: #000207;
 
}

/* ===== DISPLAY AREA ===== */
.form-control {
  width: 100% !important;
  max-width: 300px;
  height: 110px !important;
  margin: 30px 0 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 55px;
  text-align: right;
  color: white;
}

.form-control:focus {
  box-shadow: none;
}

/* ===== BUTTON BASE ===== */
.btn {
  
  width: 62px;
  height: 62px;
  margin-top: 12px;
  font-size: 22px;
  font-weight: 500;
  color: #a1a1aa;
  border: none;
  border-radius: 6px;
  background: #191a1b;
  box-shadow:
    6px 6px 12px var(--neu-dark),
       -6px -6px 12px #000000;
  transition: var(--transition);
}

.btn:hover {
  background-color: #4a4b50;
}

.btn:active {
  background-color: #323334;
  transform: scale(0.96);
  box-shadow:
    inset 0 3px 6px rgba(0, 0, 0, 0.35);
}

/* Special Button Width */
.zero-btn .btn {
  width: 135px;
}

/* ===== OPERATOR BUTTONS ===== */
.operator {
  color: rgb(26, 163, 163);
  font-weight: 800;
}

.operator:hover,
.operator:focus {
  background: linear-gradient(135deg, #3a2174, #402370);
}

/* ===== DECORATIVE GLOW ===== */
.profile-container {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.35;
  }
  50% {
    transform: scale(1.08);
    opacity: 0.55;
  }
}
.special{
  color: orange;
  font-weight: normal;
}